.error {
  background: #f00;
  color: #fff; 
  position: fixed;
  top: -200px;
  left: 0;
  right: 0;
  padding: 10px;
  transition: 0.5s;
}

.error.show {
  -webkit-transform: translate(0, 200px);
  transform: translate(0, 200px);
}

.error .details {
  margin-top: 20px;
  border-top: 2px solid #fff;
  padding-top: 10px;
}

.error h3 {
  font-size: 15pt;
  margin: 10px 0;
}

.close {
  float: right;
  padding: 10px;
  cursor: pointer;
}
