.hamburger-menu {
  display: inline-block;
  cursor: pointer;
  float: right;
}

.bar1, .bar2, .bar3 {
  background: #fff;
  height: 5px;
  width: 30px;
  margin: 6px 0;
  transition: 0.5s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 7px);
  transform: rotate(-45deg) translate(-9px, 7px);
}

.open .bar2 {opacity: 0;}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
  transform: rotate(45deg) translate(-8px, -7px);
}
